.drop-down-list {
  list-style: none;
  opacity: 0;
  scale: 0;
  position: absolute;
  top: 5rem;
  right: 0;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  transition: opacity 300ms ease-in-out 0s;
  transition: scale 300ms ease-in-out 0s;
  gap: 1rem;
  padding: 1rem;
}

.drop-down-list.displayed {
  scale: 1;
  opacity: 100;
  transform-origin: top right;
}

.drop-down-list-item {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: .5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid rgb(200, 200, 200);
}

.drop-down-list-item:hover {
  background-color: rgb(225, 225, 225);
}

.drop-down-list-item:active {
  background-color: rgb(200, 200, 200);
  box-shadow: .25rem .25rem .5rem grey;
}

.list-item-icon {
  height: 1.5rem;
}

.list-item-text {
  font-size: 1.5rem;
}