* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
  /* border: 1px dashed red; */
}

header nav {
  display: flex;
  justify-content: right;
  position: relative;
  padding: 1rem;
  border-bottom: 4px solid black;
}

.drop-down-list-btn {
  padding: .25rem .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.drop-down-list-btn:hover {
  background-color: rgb(225, 225, 225);
}

.drop-down-list-btn:active {
  background-color: rgb(200, 200, 200);
  box-shadow: .25rem .25rem .5rem grey;
}

.drop-down-list-btn img {
  height: 2rem;
}