* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: right;
  position: relative;
  padding: 1rem;
  border-bottom: 4px solid black;
}

.drop-down-list-btn {
  height: 2rem;
}