* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
}

header nav {
  display: flex;
  position: relative;
  border-bottom: 4px solid black;
  padding: 0 1rem;
}

.drop-down-list-btn {
  visibility: hidden;
  padding: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: right;
  align-self: center;
}

.drop-down-list-btn.displayed {
  visibility: visible;
}

.drop-down-list-btn:hover {
  background-color: rgb(225, 225, 225);
}

.drop-down-list-btn:active {
  background-color: rgb(200, 200, 200);
  box-shadow: .25rem .25rem .5rem grey;
}

.drop-down-list-btn img {
  height: 2rem;
}